.THIS {
    font-family: Arial, sans-serif;
}

wrapper.THIS{
    text-align: center;
}
.THIS .inputchg{
    width : 50% !important ;    
}
.THIS .callToAction{
    width : 180px !important;
}

.THIS .gmUser{
    width : 180px !important;
}
.THIS .table{
    width : 120% !important; 
}

.THIS.btn{
    border-radius: 25px !important ; 
}